apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.configMap.name | quote }}
data:
  KELLNR_SETUP__ADMIN_PWD: {{ .Values.kellnr.setup.adminPwd | quote }}
  KELLNR_SETUP__ADMIN_TOKEN: {{ .Values.kellnr.setup.adminToken | quote }}
  KELLNR_REGISTRY__DATA_DIR: {{ .Values.kellnr.registry.dataDir | quote }}
  KELLNR_REGISTRY__SESSION_AGE_SECONDS: {{ .Values.kellnr.registry.sessionAgeSeconds | quote }}
  KELLNR_REGISTRY__CACHE_SIZE: {{ .Values.kellnr.registry.cacheSize | quote }}
  KELLNR_REGISTRY__MAX_CRATE_SIZE: {{ .Values.kellnr.registry.maxCrateSize | quote }}
  KELLNR_REGISTRY__MAX_DB_CONNECTIONS: {{ .Values.kellnr.registry.maxDbConnections | quote }}
  KELLNR_REGISTRY__AUTH_REQUIRED: {{ .Values.kellnr.registry.authRequired | quote }}
  KELLNR_REGISTRY__ALLOW_OWNERLESS_CRATES: {{ .Values.kellnr.registry.allowOwnerlessCrates | quote }}
  KELLNR_REGISTRY__TOKEN_CACHE_ENABLED: {{ .Values.kellnr.registry.token.cache.enabled | quote }}
  KELLNR_REGISTRY__TOKEN_CACHE_TTL_SECONDS: {{ .Values.kellnr.registry.token.cache.ttlSeconds | quote }}
  KELLNR_REGISTRY__TOKEN_CACHE_MAX_CAPACITY: {{ .Values.kellnr.registry.token.cache.maxCapacity | quote }}
  KELLNR_REGISTRY__TOKEN_DB_RETRY_COUNT: {{ .Values.kellnr.registry.token.db.retryCount | quote }}
  KELLNR_REGISTRY__TOKEN_DB_RETRY_DELAY_MS: {{ .Values.kellnr.registry.token.db.retryDelayMs | quote }}
{{- if .Values.kellnr.registry.cookieSigningKey }}
  KELLNR_REGISTRY__COOKIE_SIGNING_KEY: {{ .Values.kellnr.registry.cookieSigningKey | quote }}
{{- end }}
{{- if .Values.kellnr.registry.requiredCrateFields }}

  KELLNR_REGISTRY__REQUIRED_CRATE_FIELDS: {{ .Values.kellnr.registry.requiredCrateFields | quote }}
{{- end }}
  KELLNR_REGISTRY__NEW_CRATES_RESTRICTED: {{ .Values.kellnr.registry.newCratesRestricted | quote }}
  KELLNR_DOCS__ENABLED: {{ .Values.kellnr.docs.enabled | quote }}
  KELLNR_DOCS__MAX_SIZE: {{ .Values.kellnr.docs.maxSize | quote }}
  KELLNR_PROXY__ENABLED: {{ .Values.kellnr.proxy.enabled | quote }}
  KELLNR_PROXY__NUM_THREADS: {{ .Values.kellnr.proxy.numThreads | quote }}
  KELLNR_PROXY__DOWNLOAD_ON_UPDATE: {{ .Values.kellnr.proxy.downloadOnUpdate | quote }}
  KELLNR_LOG__LEVEL: {{ .Values.kellnr.log.level | quote }}
  KELLNR_LOG__FORMAT: {{ .Values.kellnr.log.format | quote }}
  KELLNR_LOG__LEVEL_WEB_SERVER: {{ .Values.kellnr.log.levelWebServer | quote }}
  KELLNR_LOCAL__IP: {{ .Values.kellnr.local.ip | quote }}
  KELLNR_LOCAL__PORT: {{ .Values.service.api.port | quote }}
  KELLNR_ORIGIN__HOSTNAME: {{ required "A valid hostname, where Kellnr will be reachable is required." .Values.kellnr.origin.hostname | quote }}
{{- if .Values.ingress.path }}
  KELLNR_ORIGIN__PATH: {{ .Values.ingress.path | quote }}
{{- end }}
  KELLNR_ORIGIN__PORT: {{ include "kellnr.serviceOriginPort" . | quote }}
  KELLNR_ORIGIN__PROTOCOL: {{ .Values.kellnr.origin.protocol | quote }}
  KELLNR_POSTGRESQL__ENABLED: {{ .Values.kellnr.postgres.enabled | quote }}
  KELLNR_POSTGRESQL__ADDRESS: {{ .Values.kellnr.postgres.address | quote }}
  KELLNR_POSTGRESQL__PORT: {{ .Values.kellnr.postgres.port | quote }}
  KELLNR_POSTGRESQL__USER: {{ .Values.kellnr.postgres.user | quote }}
  KELLNR_POSTGRESQL__DB: {{ .Values.kellnr.postgres.db | quote }}
  KELLNR_S3__ENABLED: {{ .Values.kellnr.s3.enabled | quote }}
{{- if .Values.kellnr.s3.accessKey }}
  KELLNR_S3__ACCESS_KEY: {{ .Values.kellnr.s3.accessKey | quote }}
{{- end }}
{{- if .Values.kellnr.s3.secretKey }}
  KELLNR_S3__SECRET_KEY: {{ .Values.kellnr.s3.secretKey | quote }}
{{- end }}
  KELLNR_S3__REGION: {{ .Values.kellnr.s3.region | quote }}
  KELLNR_S3__ENDPOINT: {{ .Values.kellnr.s3.endpoint | quote }}
  KELLNR_S3__ALLOW_HTTP: {{ .Values.kellnr.s3.allowHttp | quote }}
  KELLNR_S3__CRATES_BUCKET: {{ .Values.kellnr.s3.crates_bucket | quote }}
  KELLNR_S3__CRATESIO_BUCKET: {{ .Values.kellnr.s3.cratesio_bucket | quote }}
  # OAuth2/OpenID Connect
  KELLNR_OAUTH2__ENABLED: {{ .Values.kellnr.oauth2.enabled | quote }}
{{- if .Values.kellnr.oauth2.issuerUrl }}
  KELLNR_OAUTH2__ISSUER_URL: {{ .Values.kellnr.oauth2.issuerUrl | quote }}
{{- end }}
{{- if .Values.kellnr.oauth2.clientId }}
  KELLNR_OAUTH2__CLIENT_ID: {{ .Values.kellnr.oauth2.clientId | quote }}
{{- end }}
{{- if and .Values.kellnr.oauth2.clientSecret (not .Values.kellnr.oauth2.clientSecretRef.name) }}
  KELLNR_OAUTH2__CLIENT_SECRET: {{ .Values.kellnr.oauth2.clientSecret | quote }}
{{- end }}
  KELLNR_OAUTH2__SCOPES: {{ .Values.kellnr.oauth2.scopes | quote }}
  KELLNR_OAUTH2__AUTO_PROVISION_USERS: {{ .Values.kellnr.oauth2.autoProvisionUsers | quote }}
{{- if .Values.kellnr.oauth2.adminGroupClaim }}
  KELLNR_OAUTH2__ADMIN_GROUP_CLAIM: {{ .Values.kellnr.oauth2.adminGroupClaim | quote }}
{{- end }}
{{- if .Values.kellnr.oauth2.adminGroupValue }}
  KELLNR_OAUTH2__ADMIN_GROUP_VALUE: {{ .Values.kellnr.oauth2.adminGroupValue | quote }}
{{- end }}
{{- if .Values.kellnr.oauth2.readOnlyGroupClaim }}
  KELLNR_OAUTH2__READ_ONLY_GROUP_CLAIM: {{ .Values.kellnr.oauth2.readOnlyGroupClaim | quote }}
{{- end }}
{{- if .Values.kellnr.oauth2.readOnlyGroupValue }}
  KELLNR_OAUTH2__READ_ONLY_GROUP_VALUE: {{ .Values.kellnr.oauth2.readOnlyGroupValue | quote }}
{{- end }}
  KELLNR_OAUTH2__BUTTON_TEXT: {{ .Values.kellnr.oauth2.buttonText | quote }}
