{{- $cookieKey := include "kellnr.cookieSigningKey" . -}}
{{ if and .Values.kellnr.registry.cookieSecret.enabled (not (empty $cookieKey)) -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.kellnr.registry.cookieSecret.cookieSecretRef.name }}
stringData:
  {{ .Values.kellnr.registry.cookieSecret.cookieSecretRef.key }}: {{ $cookieKey | quote }}
{{- end }}
